<html>

  <head>
    <title>User</title>
  </head>

  <body>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>
    <h1 class="text-info"><center>Voici la liste des utilisateurs</h1><center></br>

    <div class="container"><center>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;"><center>
              <div class="card-body">
                <div class="card-body">
                  <h5 class="text-info" class="card-title"><%= user.first_name %></h5>
                  <p class="card-text"><b><%= user.last_name %></b></p>
                  <a href="/gossips/<%= user.id %>" class="btn btn-outline-danger">Voir plus</a>
                </div>
              </div>
            </div></br>
          </div>
        <% end %>
      </div>
    </div>
  </body>

</html>
