<html>

  <head>
    <title>GossipDetails</title>
  </head>

  <body><center></br></br></br></br>
	<div class="container">
	      <div class="row">
	          <div class="col-md-12">
	            <div class="card" style="width: 50rem;">
	              <div class="bg-light">
	                <div class="card-body">
								    <h1 class="text-danger"> First_name : <%= @user.first_name %></h1></br>
								    <p><b>Content</b> : <%= @user.last_name %></p></br>
								    <p><b>Created at</b> : <%= @user.city.name %></p></br>
	                </div>
	              </div>
	            </div>
	          </div>
	      </div>
	</div>
  </body></center>

</html>
