<html>

  <head>
    <title>Welcome</title>
  </head>



  <body><center>

  <main role="main" class="container"></br>
      <div class="starter-template">
        <p class="lead">Tu peux aussi nous raconter ton ragot ;)!.</p>
      </div>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %>
    </div>
    <% end %>
    <a href="/gossips/new" class="btn btn-outline-danger">New</a></br></br>

      <!-- containers gossips -->
      <div class="container">
        <div class="row">
          <% @gossips.each do |gossip| %>
            <div class="col-md-4">
              <div class="card text-white bg-dark mb-3" style="width: 18rem;"><center>
                <div class="card-body">
                  <div class="card-body">
                    <h5 class="text-info" class="card-title"><%= gossip.user.first_name %></h5>
                    <p class="card-text"><b><%= gossip.title %></b></p>
                    <a href="/gossips/<%= gossip.id %>" class="btn btn-outline-danger">Voir plus</a>
                  </div>
                </div>
              </div></br>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
